.table {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #DADADA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .08);
  }

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-bottom: 1px solid #dadada;
  }

.col {
  display: flex;
  font-size: 14px;
  padding: 8px;
  align-items: center;
  transition: all 0.15s ease-in-out;
  min-width: 5em;
}

.col.description {
  flex: 1;
}

.col:hover {
  cursor: pointer;
  background-color: #F0F0F0;
/*   box-shadow: 0px 1px 4px rgba(0, 0, 0, .08); */
}

.row:last-child {
  border-bottom: 0;
}

.title {
  text-transform: capitalize;
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

form#configuration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

input[type="submit"] {  
    margin-top: 9px;
}

@media only screen and (max-width: 620px) {
  form#configuration {
    flex-direction: column;
  }
}